# Lab 1.01 - Australian Athletes (ais)

In the Python cell below this one, paste all the imports you need for data analysis from the code examples (Numpy, Pandas, etc.).

In [1]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation

Declare a variable `ais` and use it to import the dataset from the CSV-file `ais.csv` in [the directory `data/`](https://github.com/HoGentTIN/dsai-en-labs/tree/main/data) of the [Github repository](https://github.com/HoGentTIN/dsai-en-labs/) for the lab assignments. You can import a dataset with a URL pointing to the raw contents of the CSV-file in the Github repository (see the code example!).

This dataset contains 202 observations of Australian athletes with a variety of blood values. You can find the codebook (i.e., the explanation of what each variable/column in the dataset means) in [data/ais.md](https://github.com/HoGentTIN/dsai-en-labs/blob/main/data/ais.md). Show the first few observations of this sample.

In [2]:
ais = pd.read_csv('https://raw.githubusercontent.com/HoGentTIN/dsai-labs/main/data/ais.csv')

ais.info()
print('*'*50)
ais.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      202 non-null    int64
 1   rcc     202 non-null    float64
 2   wcc     202 non-null    float64
 3   hc      202 non-null    float64
 4   hg      202 non-null    float64
 5   ferr    202 non-null    int64
 6   bmi     202 non-null    float64
 7   ssf     202 non-null    float64
 8   pcBfat  202 non-null    float64
 9   lbm     202 non-null    float64
 10  ht      202 non-null    float64
 11  wt      202 non-null    float64
 12  sex     202 non-null    object
 13  sport   202 non-null    object
dtypes: float64(10), int64(2), object(2)
memory usage: 22.2+ KB
**************************************************

,id,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,ht,wt,sex,sport
0,1,3.96,7.5,37.5,12.3,60,20.56,109.1,19.75,63.32,195.9,78.9,f,B_Ball
1,2,4.41,8.3,38.2,12.7,68,20.67,102.8,21.30,58.55,189.7,74.4,f,B_Ball
2,3,4.14,5.0,36.4,11.6,21,21.86,104.6,19.88,55.36,177.8,69.1,f,B_Ball
3,4,4.11,5.3,37.3,12.6,69,21.88,126.4,23.66,57.18,185.0,74.9,f,B_Ball
4,5,4.45,6.8,41.5,14.0,29,18.96,80.3,17.64,53.20,184.6,64.6,f,B_Ball

Get general information about this dataset:

- How many rows and columns does the dataset have?
- Show general information about each variable, specifically the number of empty fields and the type of each variable (e.g., int64, float64, object)
- How many columns of each type are there?
- What is the measurement level (nominal, ordinal, interval, ratio) of each variable?

In [3]:
print(f"number of rows: {len(ais)}")
print(f"number of columns: {len(ais.columns)}")
print(f"Shape of the datafram: {ais.shape}")

print('*'*50)

print(ais.dtypes)

print('*'*50)

print(ais.dtypes.value_counts)

print("*"*50)
ais.info()

number of rows: 202
number of columns: 14
Shape of the datafram: (202, 14)
**************************************************
id          int64
rcc       float64
wcc       float64
hc        float64
hg        float64
ferr        int64
bmi       float64
ssf       float64
pcBfat    float64
lbm       float64
ht        float64
wt        float64
sex        object
sport      object
dtype: object
**************************************************
<bound method IndexOpsMixin.value_counts of id          int64
rcc       float64
wcc       float64
hc        float64
hg        float64
ferr        int64
bmi       float64
ssf       float64
pcBfat    float64
lbm       float64
ht        float64
wt        float64
sex        object
sport      object
dtype: object>
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      202 non-null    int64
 1   rcc     202 non-null    float64
 2   wcc     202 non-null    float64
 3   hc      202 non-null    float64
 4   hg      202 non-null    float64
 5   ferr    202 non-null    int64
 6   bmi     202 non-null    float64
 7   ssf     202 non-null    float64
 8   pcBfat  202 non-null    float64
 9   lbm     202 non-null    float64
 10  ht      202 non-null    float64
 11  wt      202 non-null    float64
 12  sex     202 non-null    object
 13  sport   202 non-null    object
dtypes: float64(10), int64(2), object(2)
memory usage: 22.2+ KB

The column "id" is not an actual variable, but an index. Mark it as such.

In [4]:
ais.set_index(['id'])

,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,ht,wt,sex,sport
id,,,,,,,,,,,,,
1,3.96,7.5,37.5,12.3,60,20.56,109.1,19.75,63.32,195.9,78.9,f,B_Ball
2,4.41,8.3,38.2,12.7,68,20.67,102.8,21.30,58.55,189.7,74.4,f,B_Ball
3,4.14,5.0,36.4,11.6,21,21.86,104.6,19.88,55.36,177.8,69.1,f,B_Ball
4,4.11,5.3,37.3,12.6,69,21.88,126.4,23.66,57.18,185.0,74.9,f,B_Ball
5,4.45,6.8,41.5,14.0,29,18.96,80.3,17.64,53.20,184.6,64.6,f,B_Ball
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,4.90,7.6,45.6,16.0,90,27.56,67.2,11.79,82.00,183.9,93.2,m,W_Polo
199,5.66,8.3,50.2,17.7,38,23.76,56.5,10.05,72.00,183.5,80.0,m,Tennis
200,5.03,6.4,42.7,14.3,122,22.01,47.6,8.51,68.00,183.1,73.8,m,Tennis
201,4.97,8.8,43.0,14.9,233,22.34,60.4,11.50,63.00,178.4,71.1,m,Tennis
202,5.38,6.3,46.0,15.7,32,21.07,34.9,6.26,72.00,190.8,76.7,m,Tennis

The variables that are now considered "object" are qualitative variables. Change the type of each of these variables to "category". For ordinal variables, also define a type and impose an order. Verify that the conversion was successful by requesting info about the types again.

In [5]:
ais.sex.unique()

ais.sex = ais.sex.astype(CategoricalDtype(categories=["f", "m"], ordered=False))

ais.sex.describe()

def sex_to_full(sex):
    if sex == 'm':
        return "Male"
    if sex == 'f':
        return "Female"
    
ais.sex = ais.sex.map(sex_to_full)

print('*'*50)

ais.sex.describe()

ais.head(20)

**************************************************

,id,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,ht,wt,sex,sport
0,1,3.96,7.5,37.5,12.3,60,20.56,109.1,19.75,63.32,195.9,78.9,Female,B_Ball
1,2,4.41,8.3,38.2,12.7,68,20.67,102.8,21.30,58.55,189.7,74.4,Female,B_Ball
2,3,4.14,5.0,36.4,11.6,21,21.86,104.6,19.88,55.36,177.8,69.1,Female,B_Ball
3,4,4.11,5.3,37.3,12.6,69,21.88,126.4,23.66,57.18,185.0,74.9,Female,B_Ball
4,5,4.45,6.8,41.5,14.0,29,18.96,80.3,17.64,53.20,184.6,64.6,Female,B_Ball
5,6,4.10,4.4,37.4,12.5,42,21.04,75.2,15.58,53.77,174.0,63.7,Female,B_Ball
6,7,4.31,5.3,39.6,12.8,73,21.69,87.2,19.99,60.17,186.2,75.2,Female,B_Ball
7,8,4.42,5.7,39.9,13.2,44,20.62,97.9,22.43,48.33,173.8,62.3,Female,B_Ball
8,9,4.30,8.9,41.1,13.5,41,22.64,75.1,17.95,54.57,171.4,66.5,Female,B_Ball
9,10,4.51,4.4,41.6,12.7,44,19.44,65.1,15.07,53.42,179.9,62.9,Female,B_Ball
10,11,4.71,5.3,41.4,14.0,38,25.75,171.1,28.83,68.53,193.4,96.3,Female,B_Ball
11,12,4.62,7.3,43.8,14.7,26,21.20,76.8,18.08,61.85,188.7,75.5,Female,B_Ball
12,13,4.35,7.8,41.4,14.1,30,22.03,117.8,23.30,48.32,169.1,63.0,Female,B_Ball
13,14,4.26,6.2,41.0,13.9,48,25.44,90.2,17.71,66.24,177.9,80.5,Female,Row
14,15,4.63,6.0,43.7,14.7,30,22.63,97.2,18.77,57.92,177.5,71.3,Female,Row
15,16,4.36,5.8,40.3,13.3,29,21.86,99.9,19.83,56.52,179.6,70.5,Female,Row
16,17,3.91,7.3,37.6,12.9,43,22.27,125.9,25.16,54.78,181.3,73.2,Female,Row
17,18,4.51,8.3,43.7,14.7,34,21.27,69.9,18.04,56.31,179.7,68.7,Female,Row
18,19,4.37,8.1,41.8,14.3,53,23.47,98.0,21.79,62.96,185.2,80.5,Female,Row
19,20,4.90,6.9,44.0,14.5,59,23.19,96.8,22.25,56.68,177.3,72.9,Female,Row

In [6]:
ais.sport.unique()

array(['B_Ball', 'Row', 'Netball', 'Swim', 'Field', 'T_400m', 'T_Sprnt',
       'Tennis', 'Gym', 'W_Polo'], dtype=object)

In [7]:
ais.sport = ais.sport.astype(CategoricalDtype(categories=['B_Ball', 'Row', 'Netball', 'Swim', 'Field', 'T_400m', 'T_Sprnt','Tennis', 'Gym', 'W_Polo'], ordered=False))

In [8]:
ais.sport.describe()

count     202
unique     10
top       Row
freq       37
Name: sport, dtype: object

Describe the columns `ferr`, `bmi`, `sex` and `sport` and the unique values in each of these columns. Do you recognize the characteristics of qualitative and quantitative variables in the result?

In [24]:
for column in ais.columns:
    print(column)
    ais[column].describe

id
rcc
wcc
hc
hg
ferr
bmi
ssf
pcBfat
lbm
ht
wt
sex
sport

Select following elements from the dataset:

- the second row (ids = 2)
- rows 4 to 6 (ids = 5 to 7)
- Columns 6 to 8 (`ferr`, `bmi`, `ssf`)
- the variable `pcBfat` (by name!). There are multiple ways to retrieve this!
- all observations for the sport "Netball"
- just the variable `wt` of the observations for "Netball"
- which sports are played by athletes with a BMI higher than 26? Also, provide a list of the unique values and a frequency table of how often each sport occurs.

In [66]:
ais_high_bmi = ais[ais.bmi > 26]

unique_sports = ais_high_bmi.sport.unique()

print(unique_sports)

for sport in unique_sports:
    count = len(ais_high_bmi[ais_high_bmi.sport == sport])
    print(f"{sport}: {count}")

['Netball' 'Field' 'Swim' 'Row' 'T_Sprnt' 'W_Polo']
Netball: 1
Field: 12
Swim: 2
Row: 2
T_Sprnt: 1
W_Polo: 3